PORT=3000
MONGO_URI=mongodb+srv://vivek:vk07939@cluster0.kikit.mongodb.net/chatify
NODE_ENV=development

JWT_SECRET=chatify_super_secret_key_123456
RESEND_API_KEY=re_iSN5jJj3_62M1g7HH1qstZLWsPwex98yY
EMAIL_FROM=onboarding@resend.dev
EMAIL_FROM_NAME=Chatify

CLIENT_URL=http://localhost:5173

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

ARCJET_KEY=your_arcjet_key
ARCJET_ENV=development